transaction-item {
    .container {
        border-left-style: solid;
        border-left-width: 4px;
        padding: 3%;
        border-radius: 5px;
    }

    p {
        margin: 5px !important;
    }

    .income {
        border-left-color: color($colors, green, null);
    }

    .expense {
        border-left-color: color($colors, red, null);
    }
}
