.ios, .md {
    page-add-account {
        
        button {
            margin-bottom: 0px;
        }

        ion-label {
            color: #6c6c6c;
        }

        ion-input {
            padding-left: 10px;
            color: #6c6c6c;
        }
    }
}